<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>USA Tornados</title>

        <!-- ====================Our CSS==================  -->
        <link href="static/styles.css" rel="stylesheet" />

        <!-- ====================Boot Strap==================  -->
        <!-- <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" /> -->
        
        <!-- ====================D3==================  -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://d3js.org/d3.v4.js"></script>
        <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>

        <!-- ====================JS Jquery==================  -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        
        <!-- ====================Plotly==================  -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    </head>


    <body class="sb-nav-fixed">

        <!-- ====================Nav Bar==================  -->
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Natural DisaSTARS</a>
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
        </nav>

        <!-- ====================Side Bar==================  -->
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="/">

                                <!-- ====================main page link==================  -->
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="charts">

                                <!-- ====================chart link==================  -->
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="tables">

                                <!-- ====================Table link==================  -->
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a>
                            <a class="nav-link" href="map">

                                <!-- ====================Map link==================  -->
                                <div class="sb-nav-link-icon"><i class="fas fa-globe"></i></div>
                                Map
                            </a>
                        </div>
                    </div>
                </nav>
            </div>

            <!-- ====================Main page layout==================  -->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">USA Tornado Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
            
                        <div class="row margin-top-50">
                            <div class="col-md-6">
                              <aside class="filters">
                                <div class="panel panel-default">
                                  <h4 class="panel-heading">Filter Search</h4>
                                  <div class="panel-body">
                                    <form>
                                      <div class="form-group">
                                        <div class="list-group" id="filters">
                                          <div class="filter list-group-item">
                                              <!-- <h4>Select Year</h4> -->
                                            <!-- <label for="date">Enter a Year</label>
                                            <input class="form-control" id="datetime" type="text" placeholder="2019"> -->
                                            <!-- <select class="sel-year" name="year" onchange="optionChangedYear(this.value)" style="width: 100%;"></select>
                                          </div> -->
                                          <div class="filter list-group-item">
                                              <h4>Select State:</h4>
                                                <select class="sel-state" style="width:80%;" onchange="optionChangedState(this.value)">
                                                    <option value="all">All States</option>
                                                </select>
                                            
                                          </div>
                                      </div>
                                      </div>
                                      <!-- <button id="filter-btn" type="button" class="btn btn-default">Filter Table</button> -->
                                    </form>
                                  </div>
                                </div>
                              </aside>
                          </div>
                        </div>


                        <!-- ====================card templates we are not using==================  -->
                        <!-- <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Primary Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Warning Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Success Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Danger Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <!-- ====================Card holders for each graph on main page==================  -->
                        <div class="row">

                            <!-- ====================Line Plot==================  -->
                            <div class="col-xl-6">
                                <div class="card mb-6">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar mr-1"></i>
                                        Tornado Line Plot
                                    </div>
                                    <div id="linePlot" width="100%" height="40"> </div>
                                </div>
                            </div>

                            <!-- ====================Bubble Chart==================  -->
                            <div class="col-xl-6">
                                <div class="card mb-6">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area mr-1"></i>
                                        Tornado Bubble Chart
                                    </div>
                                    <div id="bubble" width="100%" height="40"></div>
                                </div>
                            </div>

                            <!-- ====================Bar Chart==================  -->
                            <div class="col-xl-6">
                                <div class="card mb-6">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area mr-1"></i>
                                        Tornado Bar Chart
                                    </div>
                                    <div id="loss-bar" width="100%" height="40"></div>
                                </div>
                            </div>

                            <!-- ====================Bubble Slider==================  -->
                            <div class="col-xl-12">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-globe mr-1"></i>
                                        Tornado Bubble Slider Example
                                    </div>
                                    <div id="bubble-slider" width="100%" height="40"></div>
                                </div>
                            </div>

                            <!-- ====================Heat Map==================  -->
                            <!-- <div class="col-xl-12">
                                <div class="card mb-1">
                                    <div class="card-header">
                                        <i class="fas fa-globe mr-1"></i>
                                        Tornado HeatMap Example
                                    </div>
                                    <div id="my_dataviz" width="100%" height="40"></div>
                                </div>
                            </div> -->

                            <!-- ====================Data table **Removing from main page==================  -->
                            <!-- <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-table mr-1"></i>
                                    Tornado Data Table
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th class="table-head">Fatalities</th>
                                                    <th class="table-head">Injury</th>
                                                    <th class="table-head">Latitude</th>
                                                    <th class="table-head">Longitude</th>
                                                    <th class="table-head">loss</th>
                                                    <th class="table-head">Magnitude</th>
                                                    <th class="table-head">Miles Traveled</th>
                                                    <th class="table-head">Month</th>
                                                    <th class="table-head">Number of States Affected</th>
                                                    <th class="table-head">Segment Number</th>
                                                    <th class="table-head">State</th>
                                                    <th class="table-head">State Number</th>
                                                    <th class="table-head">Tornado Number</th>
                                                    <th class="table-head">Width</th>
                                                    <th class="table-head">Year</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th class="table-head">Fatalities</th>
                                                    <th class="table-head">Injury</th>
                                                    <th class="table-head">Latitude</th>
                                                    <th class="table-head">Longitude</th>
                                                    <th class="table-head">loss</th>
                                                    <th class="table-head">Magnitude</th>
                                                    <th class="table-head">Miles Traveled</th>
                                                    <th class="table-head">Month</th>
                                                    <th class="table-head">Number of States Affected</th>
                                                    <th class="table-head">Segment Number</th>
                                                    <th class="table-head">State</th>
                                                    <th class="table-head">State Number</th>
                                                    <th class="table-head">Tornado Number</th>
                                                    <th class="table-head">Width</th>
                                                    <th class="table-head">Year</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> -->

                        </div>
                </main>

                <!-- ====================Footer color bar==================  -->
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                        </div>
                    </div>
                </footer>

            </div>

        </div>
        
        <!-- ====================D3==================  -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>

        <!-- ====================Boot Strap==================  -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <!-- <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script> -->


        <!-- ====================JS Data Tables==================  -->
        <!-- <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script> -->

        <!-- ====================JavaScript files to pull charts==================  -->
        <script src="../static/js/selectors.js"></script>
        <script src="../static/js/line_plot.js"></script>
        <script src="../static/js/scripts.js"></script>
        <!-- <script src="../static/js/mygraphs.js"></script> -->
        
    </body>
</html>
